# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
# Your code goes here
import pandas as pd

clean_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
dirty_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
dirty_url2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"


df = pd.read_csv(clean_url)
df2 = pd.read_csv(dirty_url)
df3 = pd.read_csv(dirty_url2)


def column_cleanup(df):
    df.columns = df.columns.str.lower().str.replace(" ", "_")
    df.rename(columns = {'st': 'state'}, inplace = True)
    
    
column_cleanup(df)
column_cleanup(df2)
column_cleanup(df3)

In [2]:

def cleaning_invalid_data(df):
    df['gender'] = df['gender'].replace({'Male': 'M', 'female': 'F', 'Femal': 'F'})
    df.state = df.state.replace({'AZ': 'Arizona', 'Cali': 'California', 'WA': 'Washington'})
    df.customer_lifetime_value = df.customer_lifetime_value.apply(lambda value : str(value).strip('%'))
    df.vehicle_class.replace({"Sports Car":"Luxury", "Luxury SUV":"Luxury", "Luxury Car":"Luxury"}, inplace=True)
    
cleaning_invalid_data(df)
cleaning_invalid_data(df2)
cleaning_invalid_data(df3)

In [3]:
df['customer_lifetime_value'] = df['customer_lifetime_value'].astype('float')/100
df2['customer_lifetime_value'] = df2['customer_lifetime_value'].astype('float')/100
df3['customer_lifetime_value'] = df3['customer_lifetime_value'].astype('float')/100

In [4]:
df3["number_of_open_complaints"].dtype

dtype('int64')

In [5]:
df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(lambda num: str(num).strip("/")[2])
df['number_of_open_complaints'].replace({'n':'0'}, inplace=True)
df['number_of_open_complaints'] = df['number_of_open_complaints'].astype(int) 

df2['number_of_open_complaints'] = df2['number_of_open_complaints'].apply(lambda num: str(num).strip("/")[2])
df2['number_of_open_complaints'].replace({'n':'0'}, inplace=True)
df2['number_of_open_complaints'] = df2['number_of_open_complaints'].astype(int)

In [6]:
def null_values(df):
    df["gender"].fillna(df["gender"].mode()[0], inplace=True)
    df["customer_lifetime_value"].fillna(df["customer_lifetime_value"].mean(), inplace = True)
    df.isnull().sum()
    
null_values(df)
null_values(df2)
null_values(df3)

In [7]:
def drop_duplicates(df):
    df.drop_duplicates(inplace = True)
    df.duplicated().sum()
    df.shape
    
drop_duplicates(df)
drop_duplicates(df2)
drop_duplicates(df3)

In [8]:
merged_df = pd.concat([df, df2, df3], axis = 0)
merged_df.reset_index(drop=True, inplace=True)
merged_df

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,F,Master,7936.902593,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6979.535900,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,12887.431700,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7645.861800,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5363.076500,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
9133,LA72316,California,M,Bachelor,234.059880,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
9134,PK87824,California,F,College,30.965112,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
9135,TD14365,California,M,Bachelor,81.638904,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
9136,UP19263,California,M,College,75.244424,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
9137,Y167826,California,M,College,26.118369,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [11]:
# Your code goes here
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"

challenge_df = pd.read_csv(url)
challenge_df.rename(columns= {'unnamed:_0': 'index'}, inplace = True)
challenge_df.set_index('index', inplace = True)

pivot_table = challenge_df.pivot_table(index = "sales_channel", values=['total_claim_amount'], aggfunc= 'sum')

In [14]:
pivot_table2 = challenge_df.pivot_table( index = ['gender', 'education'], values = ['customer_lifetime_value'], aggfunc = 'mean')
pivot_table2

                             customer_lifetime_value
gender education
F      Bachelor                          7874.269478
       College                           7748.823325
       Doctor                            7328.508916
       High School or Below              8675.220201
       Master                            8157.053154
M      Bachelor                          7703.601675
       College                           8052.459288
       Doctor                            7415.333638
       High School or Below              8149.687783
       Master                            8168.832659

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here